@media only screen and (max-width: 930px){
    nav input{
        width: fit-content !important;
    }
}

@media only screen and (max-width: 800px){
    nav .right{
        display: none !important;
    }
    nav input{
        width: 250px !important;
    }
    .under-price-section .cards :nth-child(4){
        display: none;
    }
    .side-nav{
        display: block;
    }
    .bars{
        display: block;
    }
}

@media only screen and (max-width: 430px) {
    /* hover deactive */
    .sec-card img:hover{
        transform: scale(100%);
    }
    .f-b-section .sec-card:hover{
        transform: scale(100%);
    }
    
    /* NAV SEC  */
    nav .container{
        width: 100%;
        margin: 0;
    }
    nav .right{
        display: none !important;
    }

    nav .left {
        display: flex;
        justify-content: flex-end;
        width: 100%;
        margin-left: 25px;
    }
    nav .left .search input{
        width: calc(100% - 35px) !important;
        margin-right: 10px;
    }
    nav .left .search{
        flex: 60% 1 1;
    }
    nav .left button{
        font-size: medium !important;
    }

    /* HEADER  */
    header img{
        max-width: 45px;
    }
    header .card h3{
        font-size: 10px;
    }
    header .cards{
        overflow: auto;
        padding: 5px 0;
    }
    header .card{
        flex: 25% 0 0;
    }
    header .cards::-webkit-scrollbar{
        width: 0;
        height: 0px;
    }
    

    /* PREVIOUS NEXT BTN  */
    .previous,.next{
        font-size: 1rem;
        padding: 15px 10px;
    }

    /* /SLIDER */
    .slide{
        height: 150px;
    }

    /* TOP SECCTION  */
    .t-o-section{
        align-items: initial;
    }
    /* top  */
    .top-heading{
        display: flex;
        justify-content: space-between;
        margin: 1rem .5rem;
        font-size: 1rem;
    }
    .top-heading .view-all{
        margin: 0;
    }
    .view-all a{
        font-size: .6rem;
    }

    /* slider  */
    .t-o-section .previous,.t-o-section .next{
        display: none;
    }
    .t-o-section .offer{
        display: none;
    }
    .t-o-section .title{
        margin-top: 5px;
    }
    .t-o-section .price{
        color: var(--color-offer-green);
        margin-top: 5px;
    }
    .sec-card img{
        width: auto;
        height: 80px;
    }
    .sec-slider{
        padding: 1rem .5rem;
    }
    .t-o-section{
        flex-direction: column;
    }
    .sec-cards{
        flex-wrap: wrap;
        flex-direction: row;
    }
    .sec-card{
        overflow: hidden;
        padding: 10px 1rem;
        flex: 40% 1 1;
        border: 1px solid var(--color-border-grey);
    }

    /* SPECIAL SEC  */
    .special-card{
        flex: 40% 1 1;
    }

    /* FEATURED SEC  */
    .f-b-section .sec-card img{
        width: 100%;
        height: auto;
    }
    .f-b-section .sec-cards{
        flex-wrap: nowrap;
    }
    .f-b-section .sec-card{
        flex: 100% 0 0;
        border: 0px;
    }
    .f-b-section .previous,.f-b-section .next{
        display: block;
    }
    
    /* UNDER OFFER SEC  */
    .under-price-section .cards{
        flex-wrap: wrap;
    }
    .under-price-section .circle{
        zoom: auto;
    }
}